<?xml version="1.0" encoding="UTF-8"?>
<table xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:my="jarek-uri-namespace"
       border="1">
   <tr>
      <td>Nazwa waluty test</td>
      <td>Przelicznik</td>
      <td>Kod waluty</td>
      <td>Kurs sredni</td>
   </tr>
   <tr style="color: red;">
      <td>rubel rosyjski</td>
      <td>1</td>
      <td>RUB</td>
      <td>0,0616</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>peso filipińskie</td>
      <td>1</td>
      <td>PHP</td>
      <td>0,0757</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>bat (Tajlandia)</td>
      <td>1</td>
      <td>THB </td>
      <td>0,1290</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>hrywna (Ukraina)</td>
      <td>1</td>
      <td>UAH</td>
      <td>0,1608</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>korona czeska</td>
      <td>1</td>
      <td>CZK</td>
      <td>0,1677</td>
   </tr>
   <tr>
      <th>------------</th>
      <th>------------</th>
      <th>------------</th>
      <th>------------</th>
   </tr>
   <tr style="color: green">
      <td>peso meksykańskie</td>
      <td>1</td>
      <td>MXN</td>
      <td>0,2024</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>rand (Republika Południowej Afryki)</td>
      <td>1</td>
      <td>ZAR</td>
      <td>0,2654</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>won południowokoreański</td>
      <td>100</td>
      <td>KRW</td>
      <td>0,3308</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>korona szwedzka</td>
      <td>1</td>
      <td>SEK</td>
      <td>0,4061</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>korona norweska</td>
      <td>1</td>
      <td>NOK</td>
      <td>0,4371</td>
   </tr>
   <tr>
      <td>Nazwa waluty test</td>
      <td>Przelicznik</td>
      <td>Kod waluty</td>
      <td>Kurs sredni</td>
   </tr>
   <tr style="color: yellow;" class="moja-klasa-css">
      <td>dolar Hongkongu</td>
      <td>1</td>
      <td>HKD</td>
      <td>0,5020</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>peso chilijskie</td>
      <td>100</td>
      <td>CLP</td>
      <td>0,5490</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>yuan renminbi (Chiny)</td>
      <td>1</td>
      <td>CNY</td>
      <td>0,5547</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>korona duńska</td>
      <td>1</td>
      <td>DKK</td>
      <td>0,5817</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>kuna (Chorwacja)</td>
      <td>1</td>
      <td>HRK</td>
      <td>0,5870</td>
   </tr>
   <tr>
      <th>------------</th>
      <th>------------</th>
      <th>------------</th>
      <th>------------</th>
   </tr>
   <tr style="color: green">
      <td>lira turecka</td>
      <td>1</td>
      <td>TRY</td>
      <td>0,6898</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>lej rumuński</td>
      <td>1</td>
      <td>RON</td>
      <td>0,9160</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>ringgit (Malezja)</td>
      <td>1</td>
      <td>MYR</td>
      <td>0,9412</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>real (Brazylia)</td>
      <td>1</td>
      <td>BRL</td>
      <td>0,9432</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>nowy izraelski szekel</td>
      <td>1</td>
      <td>ILS</td>
      <td>1,1181</td>
   </tr>
   <tr>
      <td>Nazwa waluty test</td>
      <td>Przelicznik</td>
      <td>Kod waluty</td>
      <td>Kurs sredni</td>
   </tr>
   <tr style="color: red;">
      <td>forint (Węgry)</td>
      <td>100</td>
      <td>HUF</td>
      <td>1,3064</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>lew (Bułgaria)</td>
      <td>1</td>
      <td>BGN</td>
      <td>2,2210</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>dolar nowozelandzki</td>
      <td>1</td>
      <td>NZD</td>
      <td>2,4684</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>dolar australijski</td>
      <td>1</td>
      <td>AUD</td>
      <td>2,6704</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>rupia indonezyjska</td>
      <td>10000</td>
      <td>IDR</td>
      <td>2,7972</td>
   </tr>
   <tr>
      <th>------------</th>
      <th>------------</th>
      <th>------------</th>
      <th>------------</th>
   </tr>
   <tr style="color: green">
      <td>dolar singapurski</td>
      <td>1</td>
      <td>SGD</td>
      <td>2,8598</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>korona islandzka</td>
      <td>100</td>
      <td>ISK</td>
      <td>3,1707</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>jen (Japonia)</td>
      <td>100</td>
      <td>JPY</td>
      <td>3,6424</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>dolar amerykański</td>
      <td>1</td>
      <td>USD</td>
      <td>3,9319</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>frank szwajcarski</td>
      <td>1</td>
      <td>CHF</td>
      <td>3,9668</td>
   </tr>
   <tr>
      <td>Nazwa waluty test</td>
      <td>Przelicznik</td>
      <td>Kod waluty</td>
      <td>Kurs sredni</td>
   </tr>
   <tr style="color: red;">
      <td>euro</td>
      <td>1</td>
      <td>EUR</td>
      <td>4,3438</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>funt szterling</td>
      <td>1</td>
      <td>GBP</td>
      <td>4,9277</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>sdr (MFW)</td>
      <td>1</td>
      <td>XDR</td>
      <td>5,3817</td>
   </tr>
   <tr/>
   <tr style="color: green">
      <td>rupia indyjska</td>
      <td>100</td>
      <td>INR</td>
      <td>5,5303</td>
   </tr>
   <tr/>
   <tr style="color: red;">
      <td>syn (SYN)</td>
      <td>1</td>
      <td>SYN</td>
      <td>123</td>
   </tr>
   <tr>
      <th>5</th>
      <th>1 100 10000</th>
      <th>404.61538461538464</th>
      <th>159.6593</th>
   </tr>
</table>